.navLink:hover {
    color: lightblue;
    font-size: medium;
}
.title {
    color: rgba(184, 170, 15, 1);
    font-weight: "bold";
    font-size: 64px;
}
.city {
    font-size: 28px;
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
}
.b0 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.b-4 {
    margin-bottom: -4px;
}

.button {
    border-radius: 15px;
}
.heroImg {
    border-radius: 25px;
}
.bg-pgreen {
    background-color: rgba(73, 94, 87, 1);
}
#Testimonial {
    background-color: rgba(73, 94, 87, 1);
}